@import "tailwindcss";

body {
  font-family: Inter;
}

.hero-page {
  font-family: playfair;
}

@keyframes heroText {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-heroText {
  animation: heroText 1.2s ease-out forwards;
}
